# Ignore build directories
**/build/
build/
*/build/
dist/

# CMake build files
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake
**/*.cmake
**/CMakeError.log
**/CMakeOutput.log
**/CMakeConfigureLog.yaml

# Compiled libraries and executables
**/*.so
**/*.a
**/*.o
**/*.out
**/*.bin

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python virtual envs and caches
__pycache__/
*.pyc
env/
venv/

# Ignore log files
*.log

# Ignore local config files
#config.yml

# Large files
#*.zip
#*.gz
#*.tar
#*.pth
